* {
  box-sizing: border-box;
}

:root {
  --navy-blue: #05445E;
  --baby-blue: #D4F1F4;
  --blue-green: #75e6da;
  --blue-grotto: #189AB4;
  --complementary-color: #e68519;
--background-color: #140021;
  min-height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* background-image: radial-gradient(ellipse at top left, var(--blue-grotto), var(--blue-green)); */
  /* background-image: url(../src/assets/circle-scatter-bg.svg); */
  /* background-image: url(../src/assets/layered-steps-bg.svg);
  background-repeat: no-repeat; */
  background-color: var(--background-color);
  background-image: url(../src/assets/layered-steps-bg.svg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--navy-blue);
 
 
}
 